/*Global styles*/
html{
    margin:0;
    padding:0;
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
}

p{
    font-size: 1.6rem;
}

img{
    width:100%;
    max-width: 300px;
}

section{
    padding: 2rem 0;
}

body{
    background-color: rgb(145, 136, 201);
}

header{
    width: 100%;
    height: 8rem;
    background-color: skyblue;
    top:0;
    left:0;
    position:absolute;
    z-index: 1;
    padding:1rem;
    border-bottom: 1px solid rgba(255,255,255,1);
}

nav{
    width:90%;
    text-align: right;
    transform: translateY(-4rem);
}

#about img{
    border-radius: 100%;
    border-style: solid;
    border-width: .2rem;
    border-color: rgb(109, 47, 167);
}

main h3{
    font-family: "Aldrich", sans-serif; 
    font-size: 2rem;   
}

main{
    text-align: center;
    padding: 10rem 0rem;
}

.container{
    width: 40%;
    text-align: center;
    margin:auto;
    padding: 2rem 0rem;
    border: 1px solid #fafafa;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color:#58aff7;
    color: #fafafa;
    text-align: center;
    border-top: 1px solid #fafafa;
}

footer p, a{
    margin: auto;
    font-size: 1.5rem;
}

ul{
    line-height:200%;
    font-size: 1.8rem;
    display: table;
    margin: auto;
    list-style-type: square;
}



